//Montserrat Regular
@font-face {
    font-family: "Montserrat Regular";
    font-weight: 400;
    font-display: swap;
    src: url("../font/Montserrat/Montserrat-Regular.ttf");
}

//Montserrat Medium
@font-face {
    font-family: "Montserrat Medium";
    font-weight: 500;
    font-display: swap;
    src: url("../font/Montserrat/Montserrat-Medium.ttf");
}

//Montserrat Bold
@font-face {
    font-family: "Montserrat Bold";
    font-weight: 700;
    font-display: swap;
    src: url("../font/Montserrat/Montserrat-Bold.ttf");
}