@use '../../abstracts' as *;

.about{
    background:{
        image: url('../images/background-luciana-sato.png');
        size: contain;
        position: bottom right;
        repeat: no-repeat;
    }

    &__row{
        &__container{
            &__header{
                align-items: flex-start;
                h2{
                    padding-left: 4rem;

                    &::before{
                        left: 0;
                    }
                }

                p{
                    margin-top: 0;
                    width: 100%;
                    text-align: right;
                }
            }

            &__content{
                text-align: justify;
            }
        }
    }

    //breakpoint tablet
    @include mq(md){
        background-position: right 8rem;
        background-size: auto 50vw;

        &__row{
            grid-template-columns: 1fr;

            &__image{
                width: 60vw;
                height: 36rem;

                img{
                    max-width: 100%;
                    max-height: 100%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top center;
                }
            }

            &__container{

                &__header{
                    align-items: flex-end;
                }

                &__content{
                    text-align: justify;
                }
            }
        }
    }

    //breakpoint mobile
    @include mq(sm){
        background-position: right 18rem;
        background-size: auto 70vw;

        &__row{
            &__image{
                margin-bottom: var(--fs-500);
            }
        }
    }
}